{% load staticfiles %}
<!-- Most of the Required header information -->
<title>myExpense</title>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.css.map' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap-theme.css.map' %}" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons-theme.css' %}" />


<script type="text/javascript" src="{% static 'jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.4-dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/myExpense.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui-bootstrap-0.13.0.js' %}"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker-bs3.css' %}" />




    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/sb-admin-2.js' %}"></script>