<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include 'headerCSS.html' %}    
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}" />
    <script type="text/javascript" src="{% static 'js/myExpense.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">My Expense</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li data-target="#loginPopup" data-toggle="modal">
                        <a href="#">Login</a>
                    </li>
                    <li data-target="#registerPopup" data-toggle="modal">
                        <a href="#">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>My Expense</h1>
                        <hr class="intro-divider">
                        <h3>Stop the money leak from ever happening.</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Service Section 1:<br>Subtitle</h2>
                    <p class="lead">Details about the Service 1. Zxcvio uhqwei rfu. Zasf qweu rpo. Qiwp eroj xc Vhclx hjob ais fb jas dfk hq wer.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/mainPageScreenShotStub.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Service Section 2:<br>Subtitle</h2>
                    <p class="lead">Details about the Service 2. Zxcvio uhqwei rfu. Zasf qweu rpo. Qiwp eroj xc Vhclx hjob ais fb jas dfk hq wer.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/mainPageScreenShotStub.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Service Section 3:<br>Subtitle</h2>
                    <p class="lead">Details about the Service 3. Zxcvio uhqwei rfu. Zasf qweu rpo. Qiwp eroj xc Vhclx hjob ais fb jas dfk hq wer.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/mainPageScreenShotStub.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Contact Us!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Person 1</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Person 2</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Person 3</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Login Popup -->
    {% if registered %}
    <div class="modal fade in" id="loginPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
    {% else %}
    <div class="modal fade" id="loginPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login Options</h4>
                </div>

                {% if registered %}
                <center><h2>Registration successful!</h2></center>
                {% endif %}
                <div class="modal-body">

                <form class="form-horizontal" action="/accounts/auth/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" value="" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default col-md-2">Sign in</button>

                            <p data-target="#registerPopup" data-toggle="modal"><a href="#">Register</a></p>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Registration Popup -->
    {% if form.errors %}
    <div class="modal fade in" id="registerPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
    {% else %}
    <div class="modal fade" id="registerPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">User Registration</h4>
                </div>
                {% if form.errors %}
                <p style="color:red">Some fields are invalid, please try again.</p>
                {% endif %}
                <div class="modal-body">

                    <form class="form-horizontal" action="/accounts/register/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="username" class="col-md-offset-2 col-sm-6 control-label">Username must be 30 or less characters. </label>   
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Username </label>
                            <div class="col-sm-6">
                            <input type="text" class="form-control" name="username" value="" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="email" value="" id="email" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="password1">Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="password1" value="" id="password1" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="password2">Confirm Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="password2" value="" id="password2" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <input type="submit" class="btn btn-default" value="Submit" />

                                <p><a id="loginFromRegPopup" href="#">login</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
