.add-group-btn {
	margin-top: 70px;
}

.groups-container {
	padding-top: 10px;
}

.group-link { 
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;

	/* edit: added z-index */
	z-index: 1;
}   

.panel {
	position:relative;
}