.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-minus  {
    background: #0099cc;
    color: #ffffff;
}
.btn-plus  {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-minus:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #5cb85c;
}

.btn-minus:active, .btn-primary.active {
    background: #5cb85c;
    box-shadow: none;
}