<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include 'headerCSS.html' %}
    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/sb-admin-2.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>

                <a class="navbar-brand" href="/profile">MyExpense</a>
            </div>
                <ul class="nav navbar-nav navbar-right navbar-top-links">
                    <li>
                        <a href="/accounts/logout">Logout</a>
                    </li>
                </ul>
            <!-- /.navbar-header -->   
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>

                            <a href="/profile"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="/profile/account"><i class="fa fa-wrench fa-fw"></i> Account</a>
                    
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/profile/report"><i class="fa fa-bar-chart-o fa-fw"></i> Report</a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/profile/addExpense"><i class="fa fa-edit fa-fw"></i> Add Expense</a>
                        </li>
                        <li>
                            <a href="/profile/manageCategory"><i class="fa fa-table fa-fw"></i> Manage Category</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> What should I be</a>
                            
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> What Should I be</a>
                        
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <!-- /#wrapper -->


  
        {% block sidebar %}
        {% endblock %}

        {% block content %}
        {% endblock %}
   </body>
</html>